body {
    font-family: 'Righteous', Tahoma, Verdana, sans-serif;
    margin: 0;
}

#calculator {
    max-width: 500px;
    margin: auto;
}

form {
    background-color: #272735;
    overflow: hidden;
}

#display {
    font-family: 'Press Start 2P', monospace;
    color: #bdd8da;
    font-size: 14px;
    background-color: #53666d;
    width: 298px;
    padding: calc(75px / 2 - 7.5px) 1rem;
    margin: 10px auto;
    margin-top: 25px;
    text-align: end;
}

.buttons {
    background-color: #d1d8c0;
    display: grid;
    grid-template-rows: auto auto auto auto;
    grid-template-columns: repeat(4, 75px);
    justify-content: center;
    justify-items: center;
    gap: 10px;
    padding: 20px;
    margin: 10px;
}

.column {
    grid-column-start: 4;
    grid-row-start: 1;
    grid-row-end: 5;
    display: grid;
    grid-template-rows: auto auto auto auto;
    grid-template-columns: auto;
    gap: 10px;
}

.buttons button {
    display: block;
    font-family: 'Righteous', monospace;
    height: 75px;
    width: 75px;
}

#zero {
    width: 100%;
    height: 100%;
    grid-column: 1 / 3;
}

#enter {
    width: 100%;
    height: 100%;
    grid-column: 2 / 5;
}
